# PostgreSQL
POSTGRES_DB=multitenant_auth
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=insira_aqui_sua_senha_forte

# Redis
REDIS_PORT=6379

# MFA (TOTP) - gere com: openssl rand -base64 32
MFA_ENCRYPTION_KEY=insira_aqui_sua_senha_forte_de_32_bytes